# pipeline
results/
*.log
*.gtf
*.gtf.gz
*.ht2
*.fa
*.fa.gz
*.fastq
*.fastq.gz
*.pyc
# cgatcore
ctmp*.sh
ctmp*.stderr
ctmp*.stdout
# Visual Studio Code
.vscode/settings.json
# miscellaneous
nohup.out
sps-*.tar.gz
sps-*-cpu.tsv
sps-*-mem.tsv
sps-*-read.tsv
sps-*-write.tsv
